<h1>Index Moves</h1>

<div class="controls">
    <%= link_to 'New Move', new_move_path(@move) %>
</div>

<div class="infocard">
    <% @moves.each do |move| %>
        <p>
            <%= link_to move.name, move_path(move.id) %>
            <%= image_tag move.image, :class => 'featureMoves' %>
        </p>
    <% end %>
</div>
