<div class="homepage">
    <h1>Dream Team Viewer</h1>
    <div class="homepagetext">
    Welcome back <%= @current_user.email if @current_user.present? %>
    Here you can see the players that you currently have, add new ones, undraft them or play (coming soon)</div> 
</div>